.autoComplete {
  height: 50px;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  /* background-color: red; */
}

.autoCompleteInput {
  width: 100%;
  border: 1px solid #c4c9e3;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 50px;
}
.input {
  width: 300px;
  border: none;
}
.btnNext {
  margin-top: 20px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  height: 50px;
  border: 1px solid #fe5e22;
  background-color: #fe5e22;
  border-radius: 10px;
}
