@font-face {
  font-family: "InterBold";
  src: url("../../fonts/static/Inter_24pt-Bold.ttf");
}

.form3 {
  font-family: "InterBold";
  
}


.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.boxStyle {
  width: 120px;
  height: 86px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to each box */
}

.boxStyle:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.imgStyle {
  width: 76px;
  height: 34px;
  object-fit: contain;
  /* margin-bottom: 5px; */
}

p {
  font-size: 15px;
  margin: 0;
}

.hiddenRadio {
  display: none;
}

.table {
  border-color: 1px solid orange;
}
.tableCellStyle {
  font-size: 26px;
  font-weight: bold;
}
