@font-face {
  font-family: "InterExtraBold";
  src: url("../../fonts/static/Inter_28pt-ExtraBold.ttf");
}
@font-face {
  font-family: "InterRegular";
  src: url("../../fonts/static/Inter_18pt-Light.ttf");
}

.movingDelievery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.movingDelieveryContainer {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;
}
.paymentFormSection {
  width: 50%;
}
.formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.movingDelieveryContainer .headline {
  color: #fe5e22;
  text-align: left;
  font-size: 30px;
  font-family: "InterExtraBold";
}
.inputText {
  width: 397px;
  height: 51px;
}
.deleiverydesc {
  font-size: 17px;
  text-align: left;
  font-family: "InterRegular";
  line-height: 1.5;
}
.list li {
  font-family: "InterRegular";
}
.buttons {
  height: 62px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnNext {
  margin-top: 0;
  width: 50%;
}
.btnPrev {
  width: 50%;
  color: #fff;
  cursor: pointer;
  height: 50px;
  margin-left: 10px;
  border: 1px solid #fe5e22;
  background-color: #fe5e22;
  border-radius: 10px;
}
